.pageClass-policy {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url("../../public/Frame2.png") no-repeat center center fixed;
    background-size: cover;
}

.policy-container {
    width: 622px;
    min-height: 182px;
    background: #fff;
    margin-left: 25px;
    margin-right: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.policy-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 14px;
}

.policy-table tr {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.policy-table tr.selected-row {
    background-color: #a5a1f7;
    color: white;
}

.policy-table td, th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.policy-detailed-container {
    display: flex;
    flex-direction: row;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    width: 622px;
    min-height: 182px;
    background: #fff;
    margin-left: 25px;
    margin-right: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.policy-detailed-container-inner {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.policy-detailed-table {
    width: auto;
    text-align: left;
}

.policy-detailed-table table {
    width: 100%;
    border-collapse: collapse;
}
.policy-detailed-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.policy-detailed-table td:first-child {
    font-weight: bold;
}

.pdf-image-policy {
    width: 100%;
    height: 100%;
}

.policy-detailed-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 248px;
}

.view-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 20px;
    padding: 10px 20px;
    background-color: #a5a1f7;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

.view-button:hover {
    background-color: #5a52d6;
}


