.pageClass-home-employee {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url("../../public/Frame2.png") no-repeat center center fixed;
    background-size: cover;
}

.content-container-employee {
    /*box-sizing: border-box;*/
    width: 675px;
    height: 494px;
}

.personal-info-container {
    /*width: 675px;*/
    width: 100%;
    /*height: 100%;*/
    /*height: 494px;*/
}

.employee-task-table {
    width: 100%;
    border-collapse: collapse;
    /*margin-bottom: 14px;*/
}

.employee-task-table tr {
    cursor: pointer;
    transition: background-position 0.3s ease;
}

.employee-task-table tr.selected-row {
    background-color: #a5a1f7;
    color: white;
}

.employee-task-table td, th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}
