.pageClass-home {
    display: flex;
    flex-direction: column; /* Arrange navbar and content side by side */
    width: 100%;
    height: 100%;
    background: url("../../public/Frame2.png") no-repeat center center fixed;
    background-size: cover;
    /*font-family: Inter;*/
    /*font-weight: ;*/
}



.header-container {

}

/* dont forget to add max-width parameter later on */
.main-container {
    display: flex;
    flex-direction: row;
    width: 848px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    /*margin-left: auto;*/
    margin-left: 38%;
    margin-top: 27px;
}

.content-container {
    flex: 1;
    box-sizing: border-box;
}
.nav {
    flex: 0 0 250px; /* Fixed width for the navbar */
    background-color: #333;
    color: white;
    height: 100vh; /* Full height to span vertically */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box; /* Include padding in width/height */
    overflow-y: auto; /* Allow scrolling if content exceeds height */

}

.personal-info-container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.personal-info-table {
    width: 100%;
    border-collapse: collapse;
}

.personal-info-table td {
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
}

.personal-info-table td:first-child {
    font-weight: bold;
    color: #555;
    width: 200px;
}


.homepage-header-p {
    color: #125c30;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
}

.homepage-header-sub-p {
    color: #25dc71;
}
.edit-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    background-color: #a5a1f7;
    color: #fff;
    border: none;
    /*border-radius: 8px;*/
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.edit-button:hover {
    background-color: #8e89eb;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.edit-button span {
    margin-left: 8px;
    font-size: 16px;
}

.goto-button {
    display: inline-flex;
    align-items: center;
    /*padding: 10px 20px;*/
    width: 127px;
    height: 20px;
    font-size: 10px;
    border-radius: 5px;
    background-color: #a5a1f7;
    color: #fff;
    border: none;
    /*border-radius: 8px;*/
    margin-top: 20px;
    cursor: pointer;
    /*font-size: 14px;*/
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.goto-button:hover {
    background-color: #8e89eb;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.goto-button span {
    margin-left: 8px;
    font-size: 16px;
}


.notifications-container {
    max-width: 600px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.notifications-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.notifications-table th {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    padding-bottom: 10px;
}

.notifications-table td {
    padding: 8px 0;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
    color: #333;
}

.all-notifications-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #a5a1f7;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}