.navbar-container {
    width: 160px;
    /*border: 2px rgb(230, 230, 230, 100) solid;*/
    box-sizing: border-box;
    margin-right: 15px;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin: 7.5px;
    border-radius: 4px;
    align-items: center;
    width: 100%;
    height: 30px;
    text-decoration: none;
    /*padding: 6px;*/
}

.navbar-nav.selected {
    background-color: #9498FF;
    font-width: bold;
    color: white;
}
